// All website colors

// Pantone du site:
$darkblue: #479FC4;
$mediumblue: #7FBDD5;
$lightblue: #A2D0E0;
$poissonrouge: #FCA429;
$lightgray: #CDCDCD;
$whiteblue: #F2F9FC;

// Pantone des alertes: REVOIR LES COULEURS
$green: green;
$yellow: yellow;
$red: red;
$orange: orange;
