.container-demande-de-garde {
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $poissonrouge;
    text-align: center;
    padding-bottom: 20px;
  }
}

.tableau-title {
  color: $lightgray;
  font-size: 13px;
  width: 800px;
  display: flex;
  margin: 20px 0px -30px 0px;


  .poisson-title {
    margin-left: 170px;
  }

  .demandeur-title {
    margin-left: 133px;
  }

  .dates-title {
    margin-left: 126px;
  }
}

.ask-tableau-title {
  color: $lightgray;
  font-size: 13px;
  width: 800px;
  display: flex;
  margin: 20px 0px -30px 0px;


  .poisson-title {
    margin-left: 170px;
  }

  .demandeur-title {
    margin-left: 133px;
  }

  .dates-title {
    margin-left: 136px;
  }

  .tarif-title {
    margin-left: 160px;
  }

  .date-title {
    margin-left: 160px;
  }

  .statut-title {
    margin-left: 104px;
  }
}
