// Show d'un fish
.show-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.show-fish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-trip-fish-show {
  overflow: hidden;
  background: white;
  color: black;
  width: 100%;
  border-radius: 0px;
}

.card-trip-fish-show > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip-fish-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-fish-show h3 {
  font-size: 15px;
  margin: 0;
  opacity: .9;
  margin: 0;
}

.card-trip-fish-show p, li {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.fish-show-infos {
  padding: 50px 10px 20px 10px;
  margin: -100px 0px 40px 0px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 1px grey;
  border-radius: 5px 5px 0px 0px;

  h6 {
    font-size: 14px;
    line-height: 4px;
    padding-bottom: 10px;
  }
}

.card-trip-fish-show-fish {
  position: relative;
  z-index: 1;
  overflow: auto;
  right: 0px;
  top: -60px;
  width: 180px;
  height: 180px;
  box-shadow: 0px 0px 0px grey;
}

.avatar {
  width: 180px;
}

.details-fish {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-right-style: groove;
  padding-right: 20px;
}

.showladivision {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.rating-show {
  color: $poissonrouge;
}
