.btn-lightblue {
  color: white;
  text-decoration: none;
  background-color: lightblue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
}

.btn-lightblue:hover {
  opacity: 1;
  font-weight: bold;
}

.btn-return {
  text-decoration: none;
  color: $lightgray;
  padding: 20px;
  line-height: 40px;
}

.btn-return:hover {
  color: $poissonrouge;
}

.btn {
  text-align: center;
  background-color: $mediumblue;
  color: white;
  border-radius: 10px;
  border: 0px;
}

.btn:hover {
  text-align: center;
  background-color: $poissonrouge;
  color: white;
  border-radius: 10px;
  border: 0px;
}

.btn-blue {
  color: white;
  text-decoration: none;
  background-color: rgb(153, 209, 228);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  border-color: white;

}

.btn-blue:hover {
  opacity: 0.8;
  font-weight: bold;
}

.btn-red {
  color: white;
  text-decoration: none;
  background-color: rgb(202, 117, 117);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  margin-top: 10px;
  border-color: white;
}

.btn-red:hover {
  opacity: 0.8;
  font-weight: bold;

