.btn-lightblue {
  color: $darkblue;
  text-decoration: none;
  background-color: lightblue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.btn-lightblue:hover {
  opacity: 1;
  font-weight: bold;
  background-color: $poissonrouge;
  color: white;
}

.btn-return {
  text-decoration: none;
  color: $lightgray;
  padding: 20px;
  line-height: 40px;
}

.btn-return:hover {
  color: $poissonrouge;
}

.btn-return-show {
  position: absolute;
  text-decoration: none;
  color: $lightgray;
  left: 20px;
  top: 85px;
  text-shadow: 0px 0px 2px black;
}

.btn-return-show:hover {
  color: $poissonrouge;
}

.btn {
  text-align: center;
  background-color: $mediumblue;
  color: white;
  border-radius: 10px;
  border: 0px;
}

.btn:hover {
  text-align: center;
  background-color: $poissonrouge;
  color: white;
  border-radius: 10px;
  border: 0px;
}

.btn-blue {
  color: white;
  text-decoration: none;
  background-color: rgb(153, 209, 228);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  border-color: white;

}

.btn-blue:hover {
  opacity: 0.8;
  font-weight: bold;
}

.btn-red {
  color: white;
  text-decoration: none;
  background-color: rgb(202, 117, 117);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  margin-top: 10px;
  border-color: white;
}

.btn-red:hover {
  opacity: 0.8;
  font-weight: bold;
}

.accept-btn {
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: rgba(194, 246, 115, 1);
  padding: 6px 11px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  margin: 5px 10px;
  font-size: 15px;
  display: flex;
}

.accept-btn:hover {
  font-weight: 50;
  background-color: rgb(164, 227, 69);
  color: black;
  box-shadow: 0px 0px 3px grey;
}

.decline-btn {
  text-align: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: rgb(249, 91, 91);
  padding: 6px 11px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  margin: 5px 10px;
  font-size: 15px;
  display: flex;
}

.decline-btn:hover {
  font-style: 50;
  color: black;
  background-color: rgb(215, 53, 53);
  box-shadow: 0px 0px 3px grey;
}

.confirm-btn {
  padding: 6px 11px;
  margin: 20px;
}

.modify-btn {
  text-align: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: rgb(253, 183, 85);
  padding: 6px 11px;
  border-radius: 50px;
  font-weight: 50;
  transition: opacity 0.3s ease;
  margin: 5px 10px;
  font-size: 15px;
  display: flex;
}

.modify-btn:hover {
  font-style: 50;
  color: black;
  background-color: rgb(244, 153, 27);
  box-shadow: 0px 0px 3px grey;
}
