// Cards designs

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.fish-card {
  border-radius: 10px;
  background-color: white;
  width: 300px;
  height: 450px;
  margin: 30px;
  box-shadow: 0px 0px 1px lightgrey;
}

.fish-card:hover {
  box-shadow: 0px 0px 13px grey;
}


// RESPONSIVE
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// LIGNES CI-DESSOUS IMPORTEES DE CARD.SCSS

// CARDS BOOKING INDEX
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.fish-card-booking {
  color: black;
  font-size: 13px;
  width: 800px;
  margin-top: 30px;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: black;
    font-size: 16px;
    padding: 0px 10px;
    text-align: center;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}

.image-car-booking {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.text-card-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fish-name-card-booking {
  width: 150px;
  justify-content: space-around;
  text-align: center;
}

.fish-keeper-card-booking {
  display: flex;
  width: 250px;
  justify-content: space-around;
}

.fish-dates-card-booking {
  display: flex;
  width: 140px;
  justify-content: space-around;
  flex-direction: column;
}

.btn-booking {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


// CARDS FOR SHOW VIEW (FISH)


.card-trip-fish-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  width: 70%;
  border-radius: 5px;
}

.card-trip-fish-show > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip-fish-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-fish-show h3 {
  font-size: 15px;
  margin: 0;
  opacity: .9;
  margin: 0;
}

.card-trip-fish-show p, li {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-fish-show .card-trip-fish-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-fish-show-infos .card-trip-fish-show-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.user-card-profile {
  overflow: hidden;
  color: black;
  font-size: 16px;
  margin-top: 10px;
  padding: 0px 300px 30px 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-style: italic;

  h6 {
    font-size: 40px;
    line-height: 30px;
  }
}

.user-card-profile img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  margin: 0px 0px 30px 0px;
  border-color: white;
  border-width: 2px;
}
